<div class="container">
    <div class="device device-left device-v">
        <div class="device-inner canvas">
            <canvas id="canvas" class="mockup" height="568" width="320"></canvas>
            <script>
            $(document).ready(function() {
                application().init({
                    picture: 'images/04-home.png',
                    areas: [{
                        x: 14,
                        y: 135,
                        w: 70,
                        h: 70,
                        url: '0_4.html'
                    }],
                });
            });
            </script>
        </div>
    </div>
</div>
