<div class="container">
    <div class="device device-left device-v">
        <div class="device-inner canvas">
            <canvas id="canvas" class="mockup" height="568" width="320"></canvas>
            <script>
            $(document).ready(function() {
                application().init({
                    picture: 'images/06-welcome01.png',
                    areas: [{
                        x: 20,
                        y: 500,
                        w: 290,
                        h: 40,
                        url: 'c_7.html'
                    }],
                });
            });
            </script>
        </div>
    </div>
</div>
