<div class="container">
    <div class="device device-left device-v">
        <div class="device-inner canvas junto">
            <div class="junto__headerbar"></div>
            <div class="junto__content">
                <div>
                    <p>Nice to meet you</p>
                    <p>What should we call you?</p>
                    <form action="p_6.html" method="get">
                        <p>
                            <input type="text" name="name" placeholder="Enter your name" required="required" />
                        </p>
                        <p>
                            <input type="submit" value="Next" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
