<div class="container">
    <div class="device device-left device-v">
        <div class="device-inner canvas junto">
            <div class="junto__headerbar"></div>
            <div class="junto__content">
                <div>
                    <p>Welcome</p>
                    <p><span id="name">...</span></p>
                    <form action="p_8.html" method="get">
                        <input type="hidden" name="name" value="" id="nameForm" />
                        <p>
                            <input type="submit" value="Next" />
                        </p>
                    </form>
                    <script>
                    $(document).ready(function() {
                        parseName();
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
