<div class="container">
    <div class="device device-left device-v">
        <div class="device-inner canvas">
            <canvas id="canvas" class="mockup" height="568" width="320"></canvas>
            <script>
            $(document).ready(function() {
                application().init({
                    picture: 'images/01-intro2.png',
                    areas: [{
                        x: 4,
                        y: 459,
                        w: 311,
                        h: 69,
                        url: 'pc_2.html'
                    }],
                });
            });
            </script>
        </div>
    </div>
</div>
