<div class="container">
    <div class="device device-left device-v">
         <div class="device-inner canvas junto">
            <div class="junto__headerbar"></div>
            <div class="junto__content">
                <div>
                    <p>Drink Water</p>
                    <p>Hi <span id="name">...</span> the next 3 weeks, drink water when you wake up to kickstart your body and start your day with a success!</p>
                    <form action="pc_8.html" method="get">
                        <input type="hidden" name="name" value="" id="nameForm" />
                        <p>
                            <input type="submit" value="I accept the challenge" />
                        </p>
                    </form>
                    <script>
                    $(document).ready(function() {
                        parseName();
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
